<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zykj.yixiu">

    <!---百度地图权限   开始  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--SD卡读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!---百度地图权限   结束  -->
    <!---友盟权限   开始  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!---友盟权限   结束  -->

    <!--SD卡读权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--SD卡卸载安装权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--图片选择器权限   开始-->
    <!--图片选择器权限    结束-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".app.MyApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--百度地图-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="oGyRekVaoTGiAG9k8dl2yGxrMwNLsovT" />
        <!-- 主入口-->
        <activity android:name=".activity.DengLu_Activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--百度地图页面-->
        <activity android:name=".activity.BaiDuDiTu" />
        <!--编辑地址页面-->
        <activity android:name=".activity.BianJiDiZhi_Activity_Main" />
        <!--注册页面-->
        <activity android:name=".activity.DengLu_Activity_ZhuCe" />
        <!--忘记密码页面-->
        <activity android:name=".activity.DengLu_Activity_WangJiMiMa" />
        <!--密码页面-->
        <activity android:name=".activity.DengLu_Activity_MiMa" />
        <!--地址管理页面-->
        <activity android:name=".activity.DiZhiGuanLi_Activity_Main"/>
        <!--电脑维修页面-->
        <activity android:name=".activity.DianNaoWeiXiu_Activity_Main" />
        <!--主页面-->
        <activity android:name=".activity.Main_Activity" />
        <!--家电维修页面-->
        <activity android:name=".activity.JiaDianWeiXiu_Activity_Main" />
        <!--手机维修页面-->
        <activity android:name=".activity.ShouJiWeiXiu_Activity_Main" />
        <!--个人中心页面-->
        <activity android:name=".activity.GeRenZhongXin_Activity_Main" />
        <!--呼叫服务页面-->
        <activity android:name=".activity.HuJiaoFuWu_Activity_Main" />
        <!--更换手机号页面-->
        <activity android:name=".activity.GengHuanShouJiHao_Activity_Main"/>
        <!--一修哥咨询页面-->
        <activity android:name=".activity.YiXiuGeZiXun_PingTaiFuWu_activity"/>
        <!--我的资料页面-->
        <activity android:name=".activity.WoDeZiLiao_Activity_Main"/>
        <!--我的钱包页面-->
        <activity android:name=".activity.WoDeQianBao_Activity_Main"/>
        <!--平台服务页面-->
        <activity android:name=".activity.PingTaiFuWu_Activity_Main"/>
        <!--认证信息页面-->
        <activity android:name=".activity.RenZhengXinXi_Activity_Main"/>
        <!--我的订单未完成页面-->
        <activity android:name=".activity.WoDeDingDan_Activity_WeiWanCheng"/>
        <!--我的订单已完成页面-->
        <activity android:name=".activity.WoDeDingDan_Activity_YiWanCheng"/>
        <!--我的订单已取消页面-->
        <activity android:name=".activity.WoDeDingDan_Activity_YiQuXiao"/>
        <!--订单详情页面-->
        <activity android:name=".activity.DingDanXiangQing_Activity"/>
        <!--订单详情已完成页面-->
        <activity android:name=".activity.DingDanXiangQing_Activity_YiWanＣheng"/>
        <!---友盟权限   开始  -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="YOUR_APP_KEY" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
        <!---友盟权限   结束  -->
    </application>

</manifest>
